#anime-image{
    height: 328px;
    width: 225px;
}

#rating {
    position: absolute;
    top: 0;
    right: 50%;
}

#oneoutoffive {
    position: absolute;
    bottom: 0;
    right: 70%;
}

#twooutoffive {
    position: absolute;
    bottom: 0;
    right: 65%;
}

#threeoutoffive {
    position: absolute;
    bottom: 0;
    right: 60%;
}

#fouroutoffive {
    position: absolute;
    bottom: 0;
    right: 55%;
}

#fiveoutoffive {
    position: absolute;
    bottom: 0;
    right: 50%;
}