#anime-image {
    height: 328px;
    width: 225px;
}

#email, #password {
    width: 200px;
}

#email {
    position: absolute;
    top: 12.5%;
    right: 50%;
}

#password {
    position: absolute;
    top: 27.5%;
    right: 50%;
}

#authenticationBtn {
    position: absolute;
    top: 42.5%;
    right: 50%;
}

li#anime {
    list-style-type: none;  
}

#rate-counter {
    position: absolute;
    top: 55%;
    right: 50%;
    font-size: 1.65em;
}

#rating {
    position: absolute;
    bottom: 20%;
    right: 50%;
    font-size: 1.65em;
}

#what-rating {
    position: absolute;
    bottom: 10%;
    right: 50%;
    font-size: 1.05em;
}

#authenticate-rating {
    position: absolute;
    top: 0;
    right: 50%;
    font-size: 1.65em;
}

#oneoutoffive {
    position: absolute;
    bottom: 0;
    right: 70%;
}

#twooutoffive {
    position: absolute;
    bottom: 0;
    right: 65%;
}

#threeoutoffive {
    position: absolute;
    bottom: 0;
    right: 60%;
}

#fouroutoffive {
    position: absolute;
    bottom: 0;
    right: 55%;
}

#fiveoutoffive {
    position: absolute;
    bottom: 0;
    right: 50%;
}